{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Titulo</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste incidunt veniam modi est odit saepe quos delectus obcaecati earum!</p>
    </div>
    <div class="col-4">
        <img class="img-thumbnail" src="assets/img/flyer.png">
    </div>
</div>


{{> footer }}